
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

$font-stack: 'Montserrat', sans-serif;
$flat-green: #2ecc71;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

body{
    font-family: $font-stack;
    font-size: 15px;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    padding: 20px 30px;
    padding-top: 40px;
    font-weight: 300;
    transition: transform 1s ease-in-out 1s, height 2s ease-in-out;

    .text{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;
        .quote-text{
            font-size: .8em;
            font-weight: 300;
            font-style: italic;
            position: relative;
            line-height: 1.5em;
            word-spacing: 1px;
            animation: 1s both 1s fadeIn;
            


            &::before{
                content: "\201c";
                font-size: 2.5em;
                font-weight: 200;
                display: block;
                position: absolute;
                top: -7px;
                left: -12px;
                animation: 2s both 1s fadeIn;
                
            
                @keyframes fadeIn {
                    from{
                        opacity: 0
                    }
                    to{
                        opacity: 1;
                    }
                    
                }
            }
        }
        .author{
            margin: 15px 0;
            font-weight: 400;
            font-size: .7em;
            animation: 2s both 3s slideIn;


            @keyframes slideIn {
                from{
                    opacity: 0;
                    transform: translateX(-50px);
                }
                to{
                    opacity: 1;
                    transform: translateX(0);
                }
                
            }
            
        
        }
    }
    .btn-confirm{
        width: 100%;

        .btn{
            font-weight: 100;
            padding: 10px 10px;
            margin-top: 10px;
            width: 100%;
            border: 1px solid #555555;
            text-transform: uppercase;
            color: #555555;
            border-radius: 2em;
            letter-spacing: 4px;
            outline: none;
            background-color: transparent;
            cursor: pointer;
            transition: box-shadow .4s ease-in-out, 
                        background-color .2s ease-in-out, 
                        color .2s ease-in,
                        letter-spacing .7s ease-in-out 1s,
                        transform .5s,
                        opacity .6s;


            &:hover{
                box-shadow: 0px 1px 5px #555555;
                background-color: $flat-green;
                color: white;
                letter-spacing: 10px;
            }
        }
    }
}


.btn-close{
    transform: scale(1.2);
    opacity: 0;
}

